
<div class="section">
    <div class="product1-show-container">
        <ul class="am-avg-md-5 am-avg-sm-2">
            <li><div class="product-img-box"></div><a href="#"><img src="../assets/images/product/product_show1.jpg" alt=""></a></li>
            <li><div class="product-img-box"></div><a href="#"><img src="../assets/images/product/product_show2.jpg" alt=""></a></li>
            <li><div class="product-img-box"></div><a href="#"><img src="../assets/images/product/product_show3.jpg" alt=""></a></li>
            <li><div class="product-img-box"></div><a href="#"><img src="../assets/images/product/product_show4.jpg" alt=""></a></li>
            <li><div class="product-img-box"></div><a href="#"><img src="../assets/images/product/product_show5.jpg" alt=""></a></li>
            <li><div class="product-img-box"></div><a href="#"><img src="../assets/images/product/product_show6.jpg" alt=""></a></li>
            <li><div class="product-img-box"></div><a href="#"><img src="../assets/images/product/product_show7.jpg" alt=""></a></li>
            <li><div class="product-img-box"></div><a href="#"><img src="../assets/images/product/product_show8.jpg" alt=""></a></li>
            <li><div class="product-img-box"></div><a href="#"><img src="../assets/images/product/product_show9.jpg" alt=""></a></li>
            <li><div class="product-img-box"></div><a href="#"><img src="../assets/images/product/product_show10.jpg" alt=""></a></li>
        </ul>
    </div>
</div>