@model CtTitleModel
    <div class="section">
        <div class="container">
            <div class="section--header">
                <h2 class="section--title">@Html.Raw(Model.Title)</h2>
                <p class="section--description">
                    @Html.Raw(Model.Description)
                </p>
            </div>
        </div>
    </div>