
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div><h1>欢迎登录</h1></div>
    <div>@ViewBag.Data</div>
</body>
</html>
