
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    <script>
        window.onload = function () {
            top.location.href = '/admin/login';
        }
    </script>
</head>
<body>
</body>
</html>
