
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>微信素材</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="~/layuiadmin/layui/css/layui.css" media="all">
    <link href="~/css/imglist.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-fluid layadmin-cmdlist-fluid">
                <div class="layui-row layui-col-space30">
                    <div class="z_photo upimg-div clear" id="datalist">
                    </div>
                    <div class="layui-col-md12 layui-col-sm12">
                        <div id="page"></div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="select_mediaId" name="select_mediaId" />
            <input type="hidden" id="select_imgUrl" name="select_imgUrl" />
        </div>
    </div>
    <script src="~/layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'laypage', 'upload'], function () {
            var $ = layui.$,
                layer = layui.layer;

            //选择图片
            $('#datalist').on('click', '.chk-upimg', function () {
                //$(this).parent().toggleClass('selected');
                $('#datalist').find('section').removeClass('selected');
                $(this).parent().toggleClass('selected');
                var mediaId = $(this).parent().find('input[name=media_id]').val();
                $('#select_mediaId').val(mediaId);
                var url = $(this).parent().find('.up-img').attr('src');
                $('#select_imgUrl').val(url);
            });

            $(function () {
                initLayPage();
            });


        function initLayPage(pageConf) {
            if (!pageConf) {
                pageConf = {};
                pageConf.pageIndex = 1;
                pageConf.pageSize = 14;
            }

            var loading = layer.load(1, { shade: 0.3 });
            $.get("/wecat/GetMediaList?type=@King.Wecat.MediaType.Image.GetHashCode()", pageConf, function (res) {
                var page = layui.laypage;
                page.render({
                    elem: 'page',
                    count: res.count,
                    curr: pageConf.pageIndex,
                    limit: pageConf.pageSize,
                    first: "首页",
                    last: "尾页",
                    layout: ['prev', 'page', 'next', 'limit', 'count', 'skip'],
                    jump: function (obj, first) {
                        if (!first) {
                            pageConf.pageIndex = obj.curr;
                            pageConf.pageSize = obj.limit;
                            initLayPage(pageConf);
                        }
                    }
                });

                fillTable(res.data, (pageConf.pageIndex - 1) * pageConf.pageSize); //页面填充
                layer.close(loading);
            })

        }

        //填充表格数据
        function fillTable(data, num) {
            $("#datalist").html('');
            $.each(data, function (index, obj) {
                index = index + num + 1;
                var imgHtml = '';
                imgHtml += '<section class="up-section fl" id="section_' + obj.meId + '">';
                imgHtml += '<span class="up-span"></span>';
                imgHtml += '<img src="../img/a5.png" class="chk-upimg">';
                //imgHtml += '<img src="../img/a7.png" class="close-upimg">';
                imgHtml += '<img src="' + obj.url + '" class="up-img">';
                imgHtml += '<span class="img-namep">' + obj.fileName + '</span>';
                imgHtml += '<input id="media_id" name="media_id" value="' + obj.mediaId + '" type="hidden">';
                imgHtml += '</section>        ';
                $("#datalist").append(imgHtml);
            });
        }
        });

    </script>
</body>
</html>