
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>微信素材</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="~/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="~/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="~/css/site.css" media="all">
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">

                <ul class="layui-nav layui-bg-green" lay-filter="">
                    <li class="layui-nav-item layui-this"><a href="/Wecat/WxNewsList">图文</a></li>
                    <li class="layui-nav-item"><a href="/Wecat/WxImageList">图片</a></li>
                    <li class="layui-nav-item" id="li_voice"><a href="/Wecat/WxMediaList?type=@King.Wecat.MediaType.Voice.GetHashCode()">音频</a></li>
                    <li class="layui-nav-item" id="li_video"><a href="/Wecat/WxMediaList?type=@King.Wecat.MediaType.Video.GetHashCode()">视频</a></li>
                </ul>

            </div>
            <div class="layui-card-body">
                @if ((bool)ViewData[PageCode.PAGE_Button_Add] == true)
                {
                    <a class="layui-btn layuiadmin-btn-admin" data-type="add" id="addFile" href="/Wecat/NewsEdit">添加</a>
                }
                <div style="margin-top:10px;">
                    <table class="layui-hide" id="app-table" lay-filter="app-table"></table>
                    <script type="text/html" id="app-table-bar">
                        @if ((bool)ViewData[PageCode.PAGE_Button_Edit] == true)
                        {
                            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                        }
                        @if ((bool)ViewData[PageCode.PAGE_Button_Delete] == true)
                        {
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script src="~/layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'table'], function () {
            var $ = layui.$,
                layer = layui.layer,
                table = layui.table;


            table.render({
                elem: '#app-table',
                url: '/Wecat/GetMediaList?type=@King.Wecat.MediaType.News.GetHashCode()',

                response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: '1000 ' //规定成功的状态码，默认：0
                    , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                    , countName: 'count' //规定数据总数的字段名称，默认：count
                    , dataName: 'data' //规定数据列表的字段名称，默认：data
                },
                cols: [[
                    { type: 'checkbox' }
                    , { field: 'meId', width: 100, title: 'ID', sort: true }
                    , { field: 'introduction', width: 200, title: '名称' }
                    , { field: 'mediaId', title: 'MediaId' }
                    // , { field: 'createTime', width: 180, title: '创建时间' }
                    , { align: 'center', width: 200, toolbar: '#app-table-bar' }
                ]],
                request: {
                    pageName: 'pageIndex' //页码的参数名称，默认：page
                    , limitName: 'pageSize' //每页数据量的参数名，默认：limit
                },
                page: true
            });

            //监听工具条
            table.on('tool(app-table)', function (obj) {
                var data = obj.data;
                if (obj.event === 'del') {
                    layer.confirm("确认删除?", function (index) {
                        layer.msg('正在删除...', { icon: 16, shade: 0.3, time: 5000 });
                        $.ajax({
                            url: "/Wecat/DeleteWxNews",
                            data: { 'MeId': data.meId },
                            type: "post",
                            dataType: "json",
                            success: function (res) {
                                console.log(res);
                                if (res.code == 1000) {
                                    layer.msg(res.msg);
                                    obj.del();
                                    layer.close(index);
                                }
                                else {
                                    layer.msg(res.msg);
                                }
                            }
                        });
                    });
                } else if (obj.event === 'edit') {
                    window.location.href = '/Wecat/NewsEdit?MeId=' + data.meId;
                }
            });
        });
    </script>
</body>
</html>